// reset

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 14px;
  display: inline-block;
  line-height: 20px;
}

.small {
  font-size: 12px;
}

.bold {
  font-weight: 600;
}

.wrapper {
  position: relative;
  top: 20%;
  left: 20%;
  width: 60%;
  &::before {
    content:"";
    display: block;
    padding-top: 50%;
  }
}

.top {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: gray;
}

.businessCard {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  padding: 30px;
  box-sizing: border-box;
  &__left {
    width: 25%;
    height: 100%;
    float: left;
  }
  &__right {
    width: 75%;
    height: 100%;
    float: left;
    padding-left: 15%;
    box-sizing: border-box;
  }
  &__iconBox {
    width: 100%;
    float: left;
  }
  &__snsIconBox {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    svg {
      font-size: 21px;
    }
    a {
      color: black;
      text-decoration: none;
      &:visited {
        color:black;
      }
    }
  }
  &__profileIcon {
    width: 100%;
    border-radius: 100%;
  }
  &__profileBox {
    margin-top: 15%;
  }
  &__nameBox {
  }
  &__subinfo {
    width: 25%;
    position: absolute;
    bottom: 30px;
  }
  &__buttonBox {
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
  &__button {
    color:#1f622e;
    padding: 12px 24px;
    font-weight: 500;
    border: solid 1px#1f622e;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      color: white;
      background-color:#1f622e;
    }
  }
}

.front {
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-transform:perspective(2000) rotateY(0deg);
  -moz-transform:perspective(2000px) rotateY(0deg);
  transform:perspective(2000px) rotateY(0deg);
  -webkit-transition:ease-out 0.5s -webkit-transform;
  -moz-transition:ease-out 0.5s -moz-transform;
  transition:ease-out 0.5s transform;
}
.back {
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-transform:perspective(2000) rotateY(90deg);
  -moz-transform:perspective(2000px) rotateY(90deg);
  transform:perspective(2000px) rotateY(90deg);
  -webkit-transition:ease-out 0.5s -webkit-transform;
  -moz-transition:ease-out 0.5s -moz-transform;
  transition:ease-out 0.5s transform;
}
