@import "./rest.scss";
$mobile: 400px !default;
$tablet: 769px !default;
@mixin mobile {
  @media screen and (max-width: $mobile - 1) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $mobile) and (max-width: $tablet) {
    @content;
  }
}

.small {
  font-size: 12px;
}

.bold {
  font-weight: 600;
}

.wrapper {
  position: relative;
  width: 60%;
  box-sizing: border-box;
  min-width: 600px;
  margin: auto;
  &::before {
    content:"";
    display: block;
    padding-top: 50%;
  }
  @include tablet {
    width: 70%;
    min-width: 370px;
    &::before {
      content:"";
      display: block;
      padding-top: 140%;
    }
  }
  @include mobile {
    width: 80%;
    min-width: 295px;
    &::before {
      content:"";
      display: block;
      padding-top: 170%;
    }
  }
}

.title {
  margin: 10px 0;
}

.top {
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  padding-top: 10%;
  padding-bottom: 10%;
  box-sizing: border-box;
  position: relative;
  background-color:rgb(19, 59, 28);
}

.businessCard {
  position: absolute;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 3px;
  background-color:rgb(251, 242, 229);
  padding: 30px;
  box-sizing: border-box;
  &__left {
    width: 25%;
    height: 100%;
    float: left;
    @include tablet {
      width: 100%;
      height: 35%;
      margin: auto;
    }
    @include mobile {
      width: 100%;
      height: 35%;
      margin: auto;
    }
  }
  &__right {
    width: 75%;
    height: 100%;
    float: left;
    padding-left: 15%;
    box-sizing: border-box;
    @include tablet {
      width: 100%;
      height: 65%;
      padding: 0;
    }
    @include mobile {
      width: 100%;
      height: 65%;
      padding: 0;
    }
  }
  &__iconBox {
    width: 100%;
    float: left;
    @include tablet {
      width: 35%;
      margin: auto;
      float: none;
    }
    @include mobile {
      width: 50%;
      margin: auto;
      float: none;
    }
  }
  &__snsIconBox {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    svg {
      font-size: 21px;
    }
    a {
      color: black;
      text-decoration: none;
      &:visited {
        color:black;
      }
    }
  }
  &__profileIcon {
    width: 100%;
    border-radius: 100%;
  }
  &__profileBox {
    margin-top: 10%;
    @include mobile {
      margin-top: 5%;
    }
  }
  &__profileContent {
    line-height: 20px;
    @include mobile {
      font-size: 12px;
      line-height: 16px;
    }
  }
  &__nameBox {
  }
  &__subinfo {
    width: 30%;
    position: absolute;
    bottom: 30px;
    @include mobile {
      display: block;
      width: 100%;
      bottom: 72px;
    }
  }
  &__buttonBox {
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
  &__button {
    color:#1f622e;
    padding: 12px 24px;
    font-weight: 500;
    border: solid 1px#1f622e;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      color: white;
      background-color:#1f622e;
    }
  }
  &__detailBox {
    width: 50%;
    height: 100%;
    float: left;
    @include tablet {
      width: 100%;
      height: auto;
      float: none;
    }
    @include mobile {
      width: 100%;
      height: auto;
      float: none;
    }
  }
  &__detail {
    width: 100%;
    height: 35%;
    @include tablet {
      width: 100%;
      height: auto;
    }
    @include mobile {
      width: 100%;
      height: auto;
    }
  }
}

.front {
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: perspective(2000) rotateY(0deg);
  -moz-transform: perspective(2000px) rotateY(0deg);
  transform: perspective(2000px) rotateY(0deg);
  -webkit-transition: ease-out 0.5s -webkit-transform;
  -moz-transition: ease-out 0.5s -moz-transform;
  transition: ease-out 0.5s transform;
}

.back {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: perspective(2000) rotateY(90deg);
  -moz-transform: perspective(2000px) rotateY(90deg);
  transform: perspective(2000px) rotateY(90deg);
  -webkit-transition: ease-out 0.5s -webkit-transform;
  -moz-transition: ease-out 0.5s -moz-transform;
  transition: ease-out 0.5s transform;
}
